<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../assets/styles/main.css" type="text/css" rel="stylesheet">
    <script> type="text/javascript" src="../assets/js/scripts/dataScript"</script>
    <title>Home Page</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#" id="reports">Reportes</a></li>
        <li><a href="#" id="notices">Noticias</a></li>
        <li><a href="#" id="more">Mas</a></li>
      </ul>
    </nav>
    <div class="buttonContainer">
    <button onClick="makeRequest()">Obtener reportes</button>
    </div>
    <table id="dataColumn">
    </table>
  </body>
</html>