body {
	background-color: #81F79F;
}
/*begin table*/
#dataColumn {
	margin: 0 auto;
	margin-top: 5%;
}
/*end table*/

/*begin buttons*/
.buttonContainer {
	display: block;
	float: left;
	width: 12%;
	height: 5%;
}

#getButton {
	float: left;
	top: 0px;					/*Siempre usas top con position absoluto, fixed o relative*/
	position: absolute;			/*es en pixeles top*/
	margin-top: 15%;
	background-color: #FFFAAA;
	border-radius: 2px;
	border-width: 2px;
	border-color: blue;
	padding: 2px;
}

#updateButton {
	float: left;
	top: 0px;					/*Siempre usas top con position absoluto, fixed o relative*/
	position: absolute;			/*es en pixeles top*/
	margin-top: 20%;
	background-color: #FFFAAA;
	border-radius: 2px;
	border-width: 2px;
	border-color: blue;
	padding: 2px;
}

button:hover {
	background-color: white;
}
/*end buttons*/

/*begin fixed menu*/
nav {
	position: fixed;
	width: 98%;
	z-index: 1;
	top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bcd4;
}

li {
	margin-left: 17.5%;
	display: inline-block;
}

li a {
    display: block;			/*block respeta margin o paddings, heigth o width, inline no*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #00BDFF;
}
/*end fixed menu*/

/*begin notice section*/
#containerGlobal {
	top: 50px;
	position: absolute;
    width: 930px;
    padding: 0 35px;
    margin: 0 auto;
    background-color: white;
}

#cabecera {
	margin-top: 10%;
    width: 930px;
    padding: 0px;
    height: 178px;
    margin: 0px;
    background: #d9d9d9;
}
 
#contenido {
    width: 930px;
    height: 430px;
    padding: 0px;
    margin: 0px;
    float: left;
    background: #d5f0f0;
}
 
#pie {
    width: 930px;
    height: 86px;
    padding: 0px;
    margin: 0px;
    float: left;
    background: #b3f9d3;
}
/*end notice section*/

/*begin columns*/
/* ------------------------------------ */
/*				COLUMNAS				*/
/* ------------------------------------ */
#columnas {
     width:930px;
	 margin:20px 0;
     padding:0px;
}

#col_izqda {
     width:221px;
	 float:left;
	 margin:0 75px 0 0;
     padding:0px;
	 height:400px;
	 background-color:#F78181;
}

#col_centr {
     width:326px;
	 float:left;
	 margin:0 auto;
     padding:0px;
	 height:400px;
	 background-color:#F78181;
}

#col_drcha {
     width:240px;
	 float:right;
	 margin:0;
     padding:0px;
	 height:400px;
	 background-color:#F78181;
}
/*end columns*/

/*begin img column*/
#columnas img{
	width: 100%;
}
/*end img column*/